version: '3.4'

services:
  react:
      container_name: production-project
      tty: true 
      build:
        context: .
        dockerfile: Dockerfile
      volumes:
        - './:/app:rw,cached'
      ports:
        - 3000:3000
        - 8888:8888
      environment:
        - CHOKIDAR_USEPOLLING=true